div img{
    background-color: white;
    width:40%;
    /* border: 2px solid blue; */
}

div{
    width: 50%;
    height: 50%;
    /* border:2px solid red; */
}
figcaption{
    /* border: 2px solid black; */
    font-family: sans-serif;
}
p{
    font-family: sans-serif;
    color: rgba(7, 6, 6, 0.6);
    font-weight: bold;
}
