*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.outerbox{
    height:400px;
    width: 80%;
    /* border: 2px solid red; */
    display:flex;
    
}
.left{
    width: 30%;
    height: 100%;
    background-color: #E38826;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding: 30px;
}
.lefticons{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: sans-serif;
    color: white;
}

.lefticons img{
    width: 80px;
}
.lefticons #button1{
    width: 130px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    color: #E38826;
    padding: 10px 20px;
}


.mid{
    width: 35%;
    height: 100%;
    background-color: #006970;
    padding: 30px;

}
.midicons{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: sans-serif;
    color: white;
}

.image2{
    width: 80px;
}
#button2{
    width: 130px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    color: #006970;
    padding: 10px 20px;
    margin:18px 0px;
}
.right{
    width: 35%;
    height: 100%;
    background-color: #004241;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 30px;
}
.image3{
    width: 80px;
}
.righticons{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: sans-serif;
    color: white;
}
#button3{
    width: 130px;
    height: 40px;
    background-color: white;
    border-radius: 30px;
    color: #004241;
    padding: 10px 20px;
    margin:18px 0px;
}


